@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: "Crimson Text";
  src: local("Crimson Text Regular"), local("Crimson-Text-Regular"), url("CrimsonText-Regular.woff2") format("woff2"), url("CrimsonText-Regular.woff") format("woff"), url("CrimsonText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:befor,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  widows: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.about {
  background: url("/imj./banner.pdf");
  width: 1442px;
  height: 773px;
  top: 3px;
  left: 1px;
}

.title {
  font-family: "Crimson Text";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  position: absolute;
  width: 538px;
  height: 129px;
  left: 152px;
  top: 159px;
  color: #112734;
}
.title span {
  color: #375B26;
}

.about__text {
  font-family: "Crimson Text";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  position: absolute;
  width: 538px;
  height: 129px;
  left: 152px;
  top: 159px;
  color: rgba(17, 39, 52, 0.7);
}